<h1>Questions#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h1><%= @question.title %></h1>

<p><%= check_box_tag @question.resolved %></p>

<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
<%= link_to 'Delete', question_path(@question), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-success'%>

<br>
<p><%= @question.body %></p> 