  <ul>
    <% @post.comments.each do |c| %>
      
  <%= content_tag :div, class: 'media', id: "comment-#{c.id}" do %>
  <div class="media-left">
    <%= image_tag(c.user.avatar.small.url, class: "media-object") if c.user.avatar? %>
  </div>
  <div class="media-body">
    <small>
      <%= c.user.name %> commented <%= time_ago_in_words(c.created_at) %> ago
      <% if policy(c).destroy? %>
        | <%= link_to "Delete", [@post, c], method: :delete %>
      <% end %>
    </small>
  <li>
    <p><%= c.body %></p>
  </li>
    <% end %>
    <% end %>
    </ul>

    
